<div>
    <h1>Photo Storage</h1>

    <table>
        <tr>
            <td></td>
            <td>
                <button (click)="uploadImage()">Upload</button>
            </td>
        </tr>
    </table>

    <table>
        <div *ngIf="uploads.length > 0 else emptyList">
            <tr  *ngFor="let a of uploads" (click)="retrieveArchive(a.bundleId)">
                <td>{{ a.title | titlecase }}</td>
                <td>{{ a.upload | date:'MMM d y' }}</td>
            </tr>
        </div>
    </table>

</div>

<ng-template #emptyList>
    <code>Your storage is empty</code>
</ng-template>
