<div *ngIf="!hasError">

    <div *ngIf="archive$ | async else waiting">
        <mat-card>
            <mat-card-header>
                <mat-card-title>{{ result.title | titlecase }}</mat-card-title>
                <mat-card-subtitle>by {{ result.name | titlecase }} on {{ result.upload | date:'MMM d y'}}</mat-card-subtitle>
            </mat-card-header>

            <mat-card-content>
                {{ result.comments }}

                <div *ngFor="let u of result.urls">
                    <img [src]="u">
                </div>

            </mat-card-content>

            <mat-card-actions>
                <button mat-raised-button color="primary" [routerLink]="['/upload']">Back</button>
            </mat-card-actions>
        </mat-card>
    </div>

    <ng-template #waiting>waiting for response...</ng-template>

</div>

